<h2 class="text-center mb-3 fs-sm">Lista de Roles y Permisos</h2>

<!-- FILTROS -->
<div class="row g-2 mb-3">
  <!-- ROL -->
  <div class="col-8 col-sm-8 col-lg-9">
    <label class="form-label small fw-semibold mb-1 fs-xs"> Rol </label>

    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Buscar rol..."
      [(ngModel)]="searchNombreRol"
    />
  </div>

  <!-- BOTÓN -->
  <div class="col-4 col-sm-4 col-lg-3">
    <label class="form-label small fw-semibold mb-1 fs-xs"> Registrar </label>

    <button
      class="btn btn-success w-100 btn-sm"
      (click)="registrarRolePermiso()"
    >
      <i class="bi bi-journal-plus me-1"></i>
      <span class="d-none d-lg-inline">Registrar</span>
    </button>
  </div>
</div>

<!-- CARGANDO -->
<div *ngIf="loading" class="text-center py-3 fs-xs text-secondary">
  <div class="spinner-border spinner-border-sm me-2" role="status"></div>
  Cargando registros...
</div>

<!-- SIN DATOS -->
<div
  *ngIf="!loading && rolePermisos.length === 0"
  class="alert alert-light text-center fs-xs"
>
  No existen roles y permisos registrados.
</div>

<!-- TABLA -->
<div
  class="table-responsive shadow-sm mb-2"
  *ngIf="!loading && rolePermisos.length > 0"
>
  <table class="table table-sm table-hover align-middle mb-0">
    <thead class="table-light sticky-top">
      <tr class="fs-xs">
        <th>Rol</th>
        <th>Permiso</th>
        <th style="width: 90px">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let rolePermiso of filteredRolePermisos()">
        <td class="fs-xs">
          {{ rolePermiso.rol.nombre_rol }}
        </td>

        <td class="fs-xs">
          {{ rolePermiso.permiso.nombre_permiso }}
        </td>

        <td>
          <div class="btn-group btn-group-sm" role="group">
            <button
              class="btn btn-primary btn-sm py-0"
              (click)="editarRolePermiso(rolePermiso.id)"
              title="Editar"
            >
              <i class="bi bi-pencil"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
