<h2 class="text-center mb-3 fs-sm">Lista de Productos</h2>

<!-- FILTROS dd-->

<!-- FILTROS -->
<div class="row g-2 mb-3">
  <!-- TÍTULO -->
  <div class="col-12">
    <h5 class="mb-2 fw-semibold text-center fs-sm">Productos</h5>
  </div>

  <!-- Categoría -->
  <div class="col-6 col-sm-4 col-lg-3">
    <label class="form-label small fw-semibold mb-1 fs-xs">Categoría</label>
    <select
      class="form-select form-select-sm"
      [(ngModel)]="searchCategoria"
      (change)="onCategoriaChange()"
    >
      <option value="">Categoría</option>
      <option *ngFor="let cat of categorias" [value]="cat.nombre_categoria">
        {{ cat.nombre_categoria }}
      </option>
    </select>
  </div>

  <!-- Producto -->
  <div class="col-6 col-sm-4 col-lg-3">
    <label class="form-label small fw-semibold mb-1 fs-xs">Producto</label>
    <select
      class="form-select form-select-sm"
      [(ngModel)]="searchNombreProducto"
    >
      <option value="">Producto</option>
      <option
        *ngFor="let prod of filterNamesByCategory()"
        [value]="prod.nombre_producto"
      >
        {{ prod.nombre_producto }}
      </option>
    </select>
  </div>

  <!-- Código -->
  <div class="col-8 col-sm-4 col-lg-4">
    <label class="form-label small fw-semibold mb-1 fs-xs">Código</label>
    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Código..."
      [(ngModel)]="searchCodigoProducto"
    />
  </div>

  <!-- Botón -->
  <div class="col-4 col-sm-12 col-lg-2">
    <label class="form-label small fw-semibold mb-1 fs-xs">Registrar</label>

    <button class="btn btn-success w-100 btn-sm" (click)="registrarProducto()">
      <i class="bi bi-journal-plus me-1"></i
      ><span class="d-none d-lg-inline">Registrar</span>
    </button>
  </div>
</div>

<!-- TABLA -->
<div class="table-responsive shadow-sm mb-2">
  <table class="table table-sm table-hover align-middle mb-0">
    <thead class="table-light sticky-top">
      <tr class="fs-xs">
        <th>Img</th>
        <th>Nombre</th>
        <th>Código</th>
        <th class="d-none d-lg-table-cell">Descripción</th>
        <th>Categoría</th>
        <th>Sucursal</th>
        <th>Precio</th>
        <th class="d-none d-lg-table-cell">Mayor</th>
        <th (click)="ordenarPorStock()" style="cursor: pointer">Stock</th>
        <th class="d-none d-xl-table-cell">Creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let producto of filteredProductos()"
        [ngClass]="{
          'table-danger': !producto.estado_equipo,
          'table-success': producto.estado_equipo,
        }"
      >
        <td class="text-center">
          <img
            *ngIf="producto.imagen_productos"
            [src]="producto.imagen_productos"
            class="producto-thumb"
            alt="{{ producto.nombre_producto }}"
            (click)="openModal(producto.imagen_productos)"
          />

          <div
            *ngIf="!producto.imagen_productos"
            class="producto-thumb-placeholder"
          >
            <i class="bi bi-image"></i>
          </div>
        </td>
        <td class="fs-xs">{{ producto.nombre_producto }}</td>
        <td class="fs-xxs">
          <code>{{ producto.codigo_producto }}</code>
        </td>
        <td class="d-none d-lg-table-cell fs-xxs">
          {{ producto.descripcion }}
        </td>
        <td class="fs-xxs">{{ producto.categoria.nombre_categoria }}</td>
        <td class="fs-xxs">
          {{ producto.sucursal.nombre || "Sin sucursal" }}
        </td>
        <td class="fs-xs text-success">Bs {{ producto.precio_unitario }}</td>
        <td class="d-none d-lg-table-cell fs-xs text-warning">
          Bs {{ producto.precio_mayor }}
        </td>
        <td class="fs-xs">
          <span
            class="badge rounded-pill fs-xxs"
            [ngClass]="{
              'bg-danger': producto.stock === 0,
              'bg-warning': producto.stock > 0 && producto.stock <= 3,
              'bg-success': producto.stock > 3,
            }"
          >
            {{ producto.stock }}
          </span>
        </td>
        <td class="d-none d-xl-table-cell fs-xxs">
          {{ producto.fecha_creacion | date: "dd/MM/yyyy" }}
        </td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <button
              class="btn btn-primary btn-sm py-0"
              (click)="editarProducto(producto.id)"
              title="Editar"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-sm py-0"
              [ngClass]="producto.estado_equipo ? 'btn-danger' : 'btn-success'"
              (click)="toggleProductoActivado(producto)"
              [title]="producto.estado_equipo ? 'Desactivar' : 'Activar'"
            >
              <i
                class="bi"
                [ngClass]="
                  producto.estado_equipo ? 'bi-toggle-on' : 'bi-toggle-off'
                "
              ></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="modalVisible" class="image-modal" (click)="closeModal()">
  <img [src]="imageToShow" class="modal-image" alt="Producto" />
</div>
