.sidebar-collapsed {
  width: 80px !important;
  overflow: hidden;
}

/* Oculta textos correctamente */
.sidebar-collapsed span,
.sidebar-collapsed .fw-semibold {
  display: none !important;
}

/* Centrar iconos */
.sidebar-collapsed .list-group-item {
  justify-content: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Quitar separación */
.sidebar-collapsed .d-flex {
  justify-content: center !important;
}

/* Ocultar flechas */
.sidebar-collapsed .bi-chevron-down,
.sidebar-collapsed .bi-chevron-right {
  display: none !important;
}

/* Ocultar SOLO submenus, no el principal */
.sidebar-collapsed ul ul {
  display: none !important;
}
/* Tamaño iconos */
.sidebar-collapsed i {
  font-size: 1.4rem;
}
.leftSide {
  width: 290px;
  transition: all 0.3s ease;
}
.sidebar-collapsed .list-group-item > div {
  justify-content: center !important;
}

.sidebar-collapsed .list-group-item i {
  margin: 0 !important;
}
