<section class="layout">
  <!-- HEADER -->
  <header class="header">
    <!-- BOTÓN MENÚ -->
    <button class="toggle-button btn shadow-sm" (click)="toggleSidebar()">
      <i
        class="bi"
        [ngClass]="isSidebarOpen ? 'bi-text-indent-right' : 'bi-list'"
      ></i>
    </button>

    <!-- PERFIL Y LOGOUT -->
    <div class="ms-auto d-flex align-items-center gap-2 gap-lg-3">
      <!-- BOTÓN PANEL DE CONTROL -->
      <button class="btn-panel" (click)="panelDeControl()">
        <img
          src="https://cdn-icons-png.flaticon.com/128/7068/7068006.png"
          width="30"
          height="30"
          class="me-2"
          alt="Ventas"
        />
        <span class="d-none d-md-inline ms-1">Panel</span>
      </button>

      <!-- BOTÓN PERFIL -->
      <button class="btn-user d-flex align-items-center" (click)="verPerfil()">
        <img *ngIf="imagen_url" [src]="imagen_url" class="avatar" />

        <div class="user-info">
          <span class="fw-semibold name-user">
            {{ nombre_usuario }} {{ apellido }}
          </span>
          <small class="role-user">
            {{ roles.join(", ") }}
          </small>
        </div>
      </button>

      <!-- BOTÓN CERRAR SESIÓN -->
      <button class="btn-logout" (click)="confirmarCerrarSesion()">
        <img
          src="https://cdn-icons-png.flaticon.com/128/4034/4034229.png"
          width="30"
          height="30"
          class="me-2"
          alt="Ventas"
        />
        <span class="d-none d-md-inline ms-1">Salir</span>
      </button>
    </div>
  </header>

  <!-- SIDEBAR -->
  <aside
    class="leftSide"
    [ngClass]="isSidebarOpen ? 'sidebar-open' : 'sidebar-closed'"
  >
    <ul class="list-group list-group-flush">
      <!-- USUARIOS -->
      <li
        *ngIf="tieneRol('Administrador')"
        class="list-group-item d-flex justify-content-between align-items-center"
        (click)="toggleSection('usuarios')"
      >
        <div>
          <img
            src="https://cdn-icons-png.flaticon.com/128/7169/7169824.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          <span>Gestión Usuarios</span>
        </div>

        <i
          class="bi"
          [ngClass]="
            isActive('usuarios') ? 'bi-chevron-down' : 'bi-chevron-right'
          "
        ></i>
      </li>

      <ul
        class="list-group list-group-flush ps-3"
        *ngIf="isActive('usuarios') && isSidebarOpen"
      >
        <li
          *ngIf="puedeVer('registrarRoles')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-roles')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/8964/8964949.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Roles
        </li>

        <li
          *ngIf="puedeVer('registrarPermisos')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-permisos')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/2172/2172839.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Permisos
        </li>

        <li
          *ngIf="puedeVer('registrarUsuarios')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-usuarios')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/863/863823.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Usuarios
        </li>

        <li
          *ngIf="puedeVer('registrarUsuarioRoles')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-usuarios-roles')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/10307/10307344.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Usuarios - Roles
        </li>

        <li
          *ngIf="puedeVer('registrarRolesPermisos')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-roles-permisos')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/18841/18841862.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Roles - Permisos
        </li>
      </ul>

      <!-- PRODUCTOS -->
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        (click)="toggleSection('productos')"
      >
        <div>
          <img
            src="https://cdn-icons-png.flaticon.com/128/10103/10103182.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          <span>Productos y Ventas</span>
        </div>

        <i
          class="bi"
          [ngClass]="
            isActive('productos') ? 'bi-chevron-down' : 'bi-chevron-right'
          "
        ></i>
      </li>

      <ul
        class="list-group list-group-flush ps-3"
        *ngIf="isActive('productos') && (isSidebarOpen || windowWidth >= 992)"
      >
        <li
          *ngIf="puedeVer('Sucursales')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-sucursales')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/11354/11354482.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />

          Sucursales
        </li>
        <li
          *ngIf="puedeVer('registrarCategorias')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-categorias')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/9304/9304546.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Categorías
        </li>

        <li
          *ngIf="puedeVer('registrarProductos')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-productos')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/10608/10608872.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Productos
        </li>

        <li
          *ngIf="puedeVer(['registrarVenta', 'registrarVenta-Empleado'])"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-ventas')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/1151/1151250.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          <span>Ventas</span>
        </li>

        <li
          *ngIf="
            puedeVer([
              'registrarDetalleVenta',
              'registrar-DetalleVenta-Empleado',
            ])
          "
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-detalle-ventas')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/17387/17387875.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Detalle Ventas
        </li>

        <li
          *ngIf="
            puedeVer([
              'registrarVenta-DetalleVenta-Administrador',
              'registrarVenta-DetalleVenta-Empleado',
            ])
          "
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-productos-empleado')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/4459/4459384.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Vender Productos
        </li>

        <li
          *ngIf="puedeVer('Efectivo')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/efectivo')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/2534/2534191.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Efectivo
        </li>

        <li
          *ngIf="puedeVer('Prestamos')"
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/prestamo')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/3529/3529028.png"
            width="35"
            height="35"
            class="me-2"
            alt="Ventas"
          />
          Prestamos
        </li>
      </ul>
      <!-- CREDITOS -->
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        (click)="toggleSection('creditos')"
      >
        <div>
          <img
            src="https://cdn-icons-png.flaticon.com/128/3135/3135706.png"
            width="35"
            height="35"
            class="me-2"
            alt="Créditos"
          />
          <span>Créditos</span>
        </div>

        <i
          class="bi"
          [ngClass]="
            isActive('creditos') ? 'bi-chevron-down' : 'bi-chevron-right'
          "
        ></i>
      </li>

      <ul
        class="list-group list-group-flush ps-3"
        *ngIf="isActive('creditos') && (isSidebarOpen || windowWidth >= 992)"
      >
        <li
          class="list-group-item"
          (click)="navegarYRegresar('/panel-control/listar-creditos')"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/2830/2830284.png"
            width="35"
            height="35"
            class="me-2"
            alt="Lista Créditos"
          />
          Créditos Registrados
        </li>
      </ul>
    </ul>
  </aside>

  <!-- OVERLAY  Sucursales-->
  <div
    *ngIf="windowWidth < 992 && isSidebarOpen"
    class="overlay"
    (click)="toggleSidebar()"
  ></div>

  <!-- CONTENIDO -->
  <!-- Cambia tu <main> actual por este -->
  <main
    class="main-content"
    [class.content-shifted]="isSidebarOpen"
    (click)="onMainContentClick()"
  >
    <div class="content-card">
      <router-outlet></router-outlet>
    </div>
  </main>
</section>
