/* ESTILOS PARA LOS FILTROS */
.input-group-text {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #6c757d;
}

.form-control:focus,
.form-select:focus {
  border-color: #6cc9be;
  box-shadow: 0 0 0 0.2rem rgba(108, 201, 190, 0.25);
}

.input-group-text i {
  color: #6cc9be;
}